label {
    margin-right: 10px;
}
.kopje {
    text-align: center;
    margin: 10px 0px;
}

.form-group {
    margin: 10px 0px;
}

.checkbox {
    margin-right: 5px;
}

.linkerhelft {
    background-color: lightgrey;
}