<div class='container header'>
  <nav class='row'>
    <h2 class='title upper-header'><img src="assets/images/logo.png" class='logo'/> Alkmaar-Bezorgd</h2>
    <div>
      <button a class='nav-link' routerLink='/start'>Start</button>
      <button a class='nav-link' routerLink='/restaurants'>Restaurant overzicht</button>
      <button a class='nav-link' routerLink='/contact'>Contact</button>
      <button a class='nav-link' style='float: right;' routerLink='/winkelwagen'>Winkelwagen <span *ngIf="winkelwagenService.aantalEtenInWinkelWagen!=0" class='aantalInWinkelwagenNummer'>{{winkelwagenService.aantalEtenInWinkelWagen}}</span></button>
    </div>
  </nav>
</div>
<div class='container main'>
  <router-outlet></router-outlet>
</div>
<footer class='container footer'>Kopieright 2021 &copy;</footer>